In [42]:
import pandas as pd
import numpy as np
import os
import datetime
from  __future__ import division

In [143]:
airport_data = pd.read_csv('airports.csv', delimiter=',')
airlines_data = pd.read_csv('airlines.csv', delimiter=',')
print "Completed Processing"

Completed Processing

In [92]:
data = pd.read_csv('flights.csv', delimiter=',')
print "Completed Processing"
print data.shape

Completed Processing
(5819079, 31)

In [ ]:
print data.columns.values

In [93]:
#Conversion of Day, Year, Month to DATE
data['FLIGHT_DATE'] = pd.to_datetime(data[['YEAR','MONTH','DAY']])
print "COMPLETED"
print data.shape

COMPLETED
(5819079, 32)

In [24]:
dataDict = pd.DataFrame({'DataType': data.dtypes.values, 'Missing_values': data.isnull().sum(),'Missing%': ((data.isnull().sum())/(data.shape[0])*100)  }, index=data.columns.values)
dataDict

                           DataType   Missing%  Missing_values
YEAR                          int64   0.000000               0
MONTH                         int64   0.000000               0
DAY                           int64   0.000000               0
DAY_OF_WEEK                   int64   0.000000               0
AIRLINE                      object   0.000000               0
FLIGHT_NUMBER                 int64   0.000000               0
TAIL_NUMBER                  object   0.252978           14721
ORIGIN_AIRPORT               object   0.000000               0
DESTINATION_AIRPORT          object   0.000000               0
SCHEDULED_DEPARTURE           int64   0.000000               0
DEPARTURE_TIME              float64   1.480526           86153
DEPARTURE_DELAY             float64   1.480526           86153
TAXI_OUT                    float64   1.530259           89047
WHEELS_OFF                  float64   1.530259           89047
SCHEDULED_TIME              float64   0.000103               6
ELAPSED_TIME                float64   1.805629          105071
AIR_TIME                    float64   1.805629          105071
DISTANCE                      int64   0.000000               0
WHEELS_ON                   float64   1.589822           92513
TAXI_IN                     float64   1.589822           92513
SCHEDULED_ARRIVAL             int64   0.000000               0
ARRIVAL_TIME                float64   1.589822           92513
ARRIVAL_DELAY               float64   1.805629          105071
DIVERTED                      int64   0.000000               0
CANCELLED                     int64   0.000000               0
CANCELLATION_REASON          object  98.455357         5729195
AIR_SYSTEM_DELAY            float64  81.724960         4755640
SECURITY_DELAY              float64  81.724960         4755640
AIRLINE_DELAY               float64  81.724960         4755640
LATE_AIRCRAFT_DELAY         float64  81.724960         4755640
WEATHER_DELAY               float64  81.724960         4755640
FLIGHT_DATE          datetime64[ns]   0.000000               0

In [212]:
#data = data.drop(['FLIGHT_NUMBER','YEAR','MONTH','DAY','TAIL_NUMBER','TAXI_OUT','WHEELS_OFF','WHEELS_ON','TAXI_IN','WEATHER_DELAY','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY'], axis=1)
data = data.drop(['FLIGHT_NUMBER','DISTANCE_BINS','CANCELLATION_REASON','DIVERTED'])
print "DONE"

DONE

In [215]:
print data.shape

(5332914, 20)

In [30]:
def get_time(time):
    if pd.isnull(time):
        np.nan
    else:
        h = int(time)/100
        if h == 24:
            h = 0

        m = int(time)%100
        modified_time = datetime.time(h,m)
        return modified_time

In [95]:
data['SCHEDULED_DEPARTURE'] = data['SCHEDULED_DEPARTURE'].apply(lambda x: get_time(x))
data['DEPARTURE_TIME'] = data['DEPARTURE_TIME'].apply(lambda x: get_time(x))
data['ARRIVAL_TIME'] = data['ARRIVAL_TIME'].apply(lambda x: get_time(x))
data['SCHEDULED_ARRIVAL'] = data['SCHEDULED_ARRIVAL'].apply(lambda x: get_time(x))


print "Completed"
print data.shape

Completed
(5819079, 19)

In [96]:
#Removing numeric values in ORIGIN and DESTINATION airports
print data.shape
data = data[data.ORIGIN_AIRPORT.str.isnumeric() == False]
print data.shape
#data = data[data.DESTINATION_AIRPORT.str.isnumeric() == False]

(5819079, 19)
(5332914, 19)

In [201]:
data.to_csv ('C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis\\data.csv')

In [204]:
data.loc[:,['DEPARTURE_DELAY','ARRIVAL_DELAY']].head(30)

             DEPARTURE_DELAY  ARRIVAL_DELAY
FLIGHT_DATE
2015-01-01             -11.0          -22.0
2015-01-01              -8.0           -9.0
2015-01-01              -2.0            5.0
2015-01-01              -5.0           -9.0
2015-01-01              -1.0          -21.0
2015-01-01              -5.0            8.0
2015-01-01              -6.0          -17.0
2015-01-01              14.0          -10.0
2015-01-01             -11.0          -13.0
2015-01-01               3.0          -15.0
2015-01-01              -6.0          -30.0
2015-01-01              -8.0          -10.0
2015-01-01               0.0           -4.0
2015-01-01              -6.0          -22.0
2015-01-01              -1.0            8.0
2015-01-01              -4.0          -14.0
2015-01-01             -14.0          -24.0
2015-01-01              -6.0           -7.0
2015-01-01              -4.0          -18.0
2015-01-01              -5.0          -12.0
2015-01-01              25.0            6.0
2015-01-01              -8.0            1.0
2015-01-01              -1.0           -1.0
2015-01-01              -2.0          -12.0
2015-01-01              -3.0          -23.0
2015-01-01              -3.0          -11.0
2015-01-01              -8.0           -3.0
2015-01-01              12.0           25.0
2015-01-01             -10.0          -31.0
2015-01-01              21.0            2.0

In [97]:
# Percentage of cancelled flights
(data[data.CANCELLATION_REASON.isnull() == False].DIVERTED.count())/(data.DIVERTED.count())

0.016394414010801599

In [203]:
#airline vs arrival delay
FLIGHT_ARR_DELAY_METRIC = data.loc[data['ARRIVAL_DELAY']>15,['AIRLINE','ARRIVAL_DELAY']].groupby(['AIRLINE']).agg(['count','mean','median'])
FLIGHT_ARR_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY','MEDIAN_DELAY']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['AIRLINE','ARRIVAL_DELAY']].groupby(['AIRLINE']).count().rename(columns={"ARRIVAL_DELAY":"TOTAL_FLIGHTS"})



FLIGHT_ARR_DELAY_METRIC = pd.merge(FLIGHT_ARR_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
FLIGHT_ARR_DELAY_METRIC['PERCENTAGE_DELAYED'] = (FLIGHT_ARR_DELAY_METRIC.TOTAL_DELAY_COUNT/FLIGHT_ARR_DELAY_METRIC.TOTAL_FLIGHTS)*100
FLIGHT_ARR_DELAY_METRIC
#FLIGHT_ARR_DELAY_METRIC.to_csv('C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis\\AirlineVSArrivalDelay.csv')

,TOTAL_DELAY_COUNT,MEAN_DELAY,MEDIAN_DELAY,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
AIRLINE,,,,,
AA,115542,62.093204,38.0,636554,18.151170
AS,19615,50.331991,32.0,157025,12.491641
B6,53405,63.132310,43.0,240304,22.223933
DL,107560,63.497546,37.0,794817,13.532675
EV,98932,64.797325,41.0,509621,19.412858
F9,21711,69.587859,43.0,82005,26.475215
HA,7489,41.578048,26.0,69815,10.726921
MQ,56431,64.425546,43.0,257130,21.946486
NK,31100,65.292315,44.0,105059,29.602414
OO,97514,62.438368,41.0,528328,18.457095
UA,96065,66.464154,43.0,462086,20.789420
US,34930,51.926138,34.0,194223,17.984482
VX,10497,57.857483,39.0,55813,18.807446
WN,215470,53.945412,36.0,1138350,18.928273

In [100]:
#airline vs departure delay
FLIGHT_DEP_DELAY_METRIC = data.loc[data['DEPARTURE_DELAY']>0,['AIRLINE','DEPARTURE_DELAY']].groupby(['AIRLINE']).agg(['count','mean'])
FLIGHT_DEP_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['AIRLINE','DEPARTURE_DELAY']].groupby(['AIRLINE']).count().rename(columns={"DEPARTURE_DELAY":"TOTAL_FLIGHTS"})



FLIGHT_DEP_DELAY_METRIC = pd.merge(FLIGHT_DEP_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
FLIGHT_DEP_DELAY_METRIC['PERCENTAGE_DELAYED'] = (FLIGHT_DEP_DELAY_METRIC.TOTAL_DELAY_COUNT/FLIGHT_DEP_DELAY_METRIC.TOTAL_FLIGHTS)*100
FLIGHT_DEP_DELAY_METRIC
#FLIGHT_DEP_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
AIRLINE,,,,
AA,223984,34.865432,639002,35.052159
AS,40404,26.261534,157472,25.657895
B6,93718,38.457564,241056,38.878103
DL,263460,30.183629,796638,33.071483
EV,159040,41.100528,512032,31.060559
F9,32678,45.437420,82201,39.753774
HA,18446,17.070096,69889,26.393281
MQ,89272,40.321859,258555,34.527277
NK,48478,42.567350,105301,46.037550
OO,160291,39.574992,530501,30.215023
UA,239446,33.031301,463756,51.631893
US,62565,28.500615,194825,32.113435
VX,21431,30.588447,55944,38.307951
WN,527303,27.413756,1141928,46.176554

In [101]:
#Origin Airport vs Arrival Delay
AIRPORT_ARR_DELAY_METRIC = data.loc[data['ARRIVAL_DELAY']>0,['ORIGIN_AIRPORT','ARRIVAL_DELAY']].groupby(['ORIGIN_AIRPORT']).agg(['count','mean'])
AIRPORT_ARR_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['ORIGIN_AIRPORT','ARRIVAL_DELAY']].groupby(['ORIGIN_AIRPORT']).count().rename(columns={"ARRIVAL_DELAY":"TOTAL_FLIGHTS"})



AIRPORT_ARR_DELAY_METRIC = pd.merge(AIRPORT_ARR_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
AIRPORT_ARR_DELAY_METRIC['PERCENTAGE_DELAYED'] = (AIRPORT_ARR_DELAY_METRIC.TOTAL_DELAY_COUNT/AIRPORT_ARR_DELAY_METRIC.TOTAL_FLIGHTS)*100
AIRPORT_ARR_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
ORIGIN_AIRPORT,,,,
ABE,826,36.483051,2227,37.090256
ABI,686,39.295918,2231,30.748543
ABQ,6965,31.850826,18918,36.816788
ABR,246,42.211382,663,37.104072
ABY,309,37.530744,866,35.681293
ACK,162,56.061728,485,33.402062
ACT,466,43.686695,1538,30.299090
ACV,449,45.271715,1268,35.410095
ACY,1433,37.439637,3527,40.629430
ADK,56,26.053571,88,63.636364
ADQ,160,21.575000,437,36.613272
AEX,1178,41.398132,3054,38.572364
AGS,1004,31.844622,2345,42.814499
AKN,32,16.812500,63,50.793651
ALB,2006,34.900299,7322,27.396886
ALO,172,41.470930,581,29.604131
AMA,1514,34.056803,4074,37.162494
ANC,5196,23.359315,15818,32.848653
APN,142,46.528169,546,26.007326
ASE,1464,50.104508,3263,44.866687
ATL,114872,31.051240,343506,33.441046
ATW,1076,32.697026,2759,38.999638
AUS,14681,34.072202,41392,35.468206
AVL,933,39.449089,2673,34.904602
AVP,463,40.449244,1326,34.917044
AZO,498,39.491968,1743,28.571429
BDL,5691,34.367071,18375,30.971429
BET,328,25.140244,880,37.272727
BFL,851,36.564042,2587,32.895245
BGM,70,62.342857,259,27.027027
...,...,...,...,...
SRQ,990,40.962626,3318,29.837251
STC,38,48.710526,77,49.350649
STL,16803,32.371719,46181,36.385093
STT,1358,46.034610,4171,32.558140
STX,361,32.310249,932,38.733906
SUN,254,36.192913,867,29.296424
SUX,189,53.576720,589,32.088285
SWF,260,42.019231,678,38.348083
SYR,1592,41.640075,5447,29.227097
TLH,957,37.819227,3141,30.468004
TOL,220,42.918182,897,24.526198
TPA,22072,35.625272,63077,34.992152
TRI,631,34.166403,1906,33.105981
TTN,1127,49.741792,2771,40.671238
TUL,4662,34.842557,13701,34.026713
TUS,4884,30.611179,14922,32.730197
TVC,825,36.832727,2660,31.015038
TWF,213,24.849765,805,26.459627
TXK,327,31.978593,918,35.620915
TYR,817,37.842105,2199,37.153251
TYS,2665,40.398124,6754,39.458099
UST,61,41.491803,144,42.361111
VEL,23,61.173913,200,11.500000
VLD,359,30.883008,925,38.810811
VPS,1544,42.673575,4744,32.546374
WRG,236,31.881356,649,36.363636
WYS,58,18.034483,208,27.884615
XNA,3727,42.884626,8963,41.582060
YAK,159,25.930818,650,24.461538
YUM,627,24.473684,1854,33.818770

In [102]:
#Origin Airport vs Departure Delay
ORIGIN_AIRPORT_DEPT_DELAY_METRIC = data.loc[data['DEPARTURE_DELAY']>0,['ORIGIN_AIRPORT','DEPARTURE_DELAY']].groupby(['ORIGIN_AIRPORT']).agg(['count','mean'])
ORIGIN_AIRPORT_DEPT_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['ORIGIN_AIRPORT','DEPARTURE_DELAY']].groupby(['ORIGIN_AIRPORT']).count().rename(columns={"DEPARTURE_DELAY":"TOTAL_FLIGHTS"})



ORIGIN_AIRPORT_DEPT_DELAY_METRIC = pd.merge(ORIGIN_AIRPORT_DEPT_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
ORIGIN_AIRPORT_DEPT_DELAY_METRIC['PERCENTAGE_DELAYED'] = (ORIGIN_AIRPORT_DEPT_DELAY_METRIC.TOTAL_DELAY_COUNT/ORIGIN_AIRPORT_DEPT_DELAY_METRIC.TOTAL_FLIGHTS)*100
ORIGIN_AIRPORT_DEPT_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
DESTINATION_AIRPORT,,,,
ABE,840,31.459524,2220,37.837838
ABI,748,31.830214,2224,33.633094
ABQ,7876,28.017395,18953,41.555427
ABR,163,24.453988,657,24.809741
ABY,347,34.138329,864,40.162037
ACK,152,41.348684,487,31.211499
ACT,646,38.990712,1541,41.920831
ACV,540,36.881481,1267,42.620363
ACY,1599,37.495310,3530,45.297450
ADK,31,18.129032,89,34.831461
ADQ,130,16.984615,437,29.748284
AEX,1196,30.657191,3055,39.148936
AGS,881,30.452894,2347,37.537282
AKN,26,15.346154,63,41.269841
ALB,2944,31.756114,7341,40.103528
ALO,211,41.616114,585,36.068376
AMA,1718,27.261350,4071,42.200933
ANC,6247,24.352009,15819,39.490486
APN,129,49.062016,549,23.497268
ASE,1775,36.967324,3260,54.447853
ATL,105603,35.611308,343076,30.781226
ATW,1025,28.183415,2763,37.097358
AUS,16732,33.368396,41445,40.371577
AVL,987,34.448835,2691,36.677815
AVP,603,32.922056,1325,45.509434
AZO,514,36.130350,1743,29.489386
BDL,7211,33.819720,18404,39.181700
BET,319,21.871473,879,36.291240
BFL,1049,30.252622,2587,40.548898
BGM,89,30.887640,258,34.496124
...,...,...,...,...
SRQ,1101,31.126249,3336,33.003597
STC,48,41.208333,77,62.337662
STL,16807,30.976795,46273,36.321397
STT,1623,36.191004,4306,37.691593
STX,392,27.696429,933,42.015005
SUN,300,27.906667,854,35.128806
SUX,193,42.626943,591,32.656514
SWF,272,33.525735,680,40.000000
SYR,2105,35.327791,5475,38.447489
TLH,1114,33.933573,3149,35.376310
TOL,243,37.329218,901,26.970033
TPA,23083,34.051077,63157,36.548601
TRI,592,27.684122,1912,30.962343
TTN,1339,47.804332,2761,48.496921
TUL,5600,31.026429,13748,40.733198
TUS,6103,30.320826,14956,40.806365
TVC,850,34.183529,2666,31.882971
TWF,337,16.670623,806,41.811414
TXK,352,25.536932,915,38.469945
TYR,880,31.768182,2199,40.018190
TYS,3046,35.785620,6764,45.032525
UST,54,39.129630,146,36.986301
VEL,19,10.052632,197,9.644670
VLD,385,27.893506,921,41.802389
VPS,1803,31.669440,4743,38.013915
WRG,259,32.019305,652,39.723926
WYS,119,10.336134,207,57.487923
XNA,3920,33.655867,8986,43.623414
YAK,224,23.562500,652,34.355828
YUM,677,22.391433,1856,36.476293

In [103]:
#Destination Airport vs Departure Delay
DEST_AIRPORT_DEPT_DELAY_METRIC = data.loc[data['DEPARTURE_DELAY']>0,['DESTINATION_AIRPORT','DEPARTURE_DELAY']].groupby(['DESTINATION_AIRPORT']).agg(['count','mean'])
DEST_AIRPORT_DEPT_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['DESTINATION_AIRPORT','DEPARTURE_DELAY']].groupby(['DESTINATION_AIRPORT']).count().rename(columns={"DEPARTURE_DELAY":"TOTAL_FLIGHTS"})



DEST_AIRPORT_DEPT_DELAY_METRIC = pd.merge(DEST_AIRPORT_DEPT_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
DEST_AIRPORT_DEPT_DELAY_METRIC['PERCENTAGE_DELAYED'] = (DEST_AIRPORT_DEPT_DELAY_METRIC.TOTAL_DELAY_COUNT/DEST_AIRPORT_DEPT_DELAY_METRIC.TOTAL_FLIGHTS)*100
DEST_AIRPORT_DEPT_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
DESTINATION_AIRPORT,,,,
ABE,686,37.513120,2229,30.776133
ABI,742,31.962264,2236,33.184258
ABQ,8417,27.856837,18996,44.309328
ABR,134,32.417910,665,20.150376
ABY,284,38.876761,869,32.681243
ACK,136,43.205882,490,27.755102
ACT,563,43.772647,1543,36.487362
ACV,429,45.407925,1282,33.463339
ACY,1462,40.639535,3535,41.357850
ADK,21,23.523810,89,23.595506
ADQ,82,20.609756,448,18.303571
AEX,1020,33.952941,3068,33.246415
AGS,763,33.913499,2349,32.481907
AKN,16,19.312500,63,25.396825
ALB,3258,30.846225,7351,44.320501
ALO,206,41.378641,588,35.034014
AMA,1554,28.595238,4094,37.957987
ANC,6115,24.371545,15853,38.573141
APN,101,62.118812,556,18.165468
ASE,1687,38.201541,3444,48.983740
ATL,110754,34.136076,344280,32.169746
ATW,742,35.572776,2770,26.787004
AUS,17446,32.780924,41578,41.959690
AVL,874,38.517162,2706,32.298596
AVP,452,38.451327,1333,33.908477
AZO,554,33.855596,1755,31.566952
BDL,8039,32.968902,18450,43.571816
BET,212,28.500000,887,23.900789
BFL,786,39.162850,2601,30.219146
BGM,66,41.712121,260,25.384615
...,...,...,...,...
SRQ,1194,29.384422,3340,35.748503
STC,41,42.097561,77,53.246753
STL,18497,29.881873,46384,39.877975
STT,1689,35.483718,4327,39.033973
STX,368,28.866848,936,39.316239
SUN,263,31.745247,953,27.597062
SUX,215,37.102326,593,36.256324
SWF,282,35.336879,682,41.348974
SYR,1988,37.165996,5484,36.250912
TLH,1055,36.300474,3157,33.417802
TOL,275,31.400000,903,30.454042
TPA,25990,31.224740,63346,41.028636
TRI,544,30.628676,1912,28.451883
TTN,1148,52.695122,2772,41.414141
TUL,5575,31.358027,13779,40.460120
TUS,5892,31.841310,14991,39.303582
TVC,839,33.069130,2675,31.364486
TWF,101,31.673267,811,12.453761
TXK,310,26.474194,927,33.441208
TYR,696,36.352011,2209,31.507469
TYS,2518,39.417792,6782,37.127691
UST,67,41.388060,149,44.966443
VEL,7,24.714286,201,3.482587
VLD,290,34.717241,927,31.283711
VPS,1649,33.510612,4774,34.541265
WRG,214,38.289720,657,32.572298
WYS,27,19.666667,208,12.980769
XNA,3392,36.728774,9032,37.555359
YAK,189,24.439153,653,28.943338
YUM,396,32.323232,1861,21.278882

In [89]:
#Destination Airport vs Arrival Delay
DEST_AIRPORT_ARR_DELAY_METRIC = data.loc[data['ARRIVAL_DELAY']>0,['DESTINATION_AIRPORT','ARRIVAL_DELAY']].groupby(['DESTINATION_AIRPORT']).agg(['count','mean'])
DEST_AIRPORT_ARR_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['DESTINATION_AIRPORT','ARRIVAL_DELAY']].groupby(['DESTINATION_AIRPORT']).count().rename(columns={"ARRIVAL_DELAY":"TOTAL_FLIGHTS"})



DEST_AIRPORT_ARR_DELAY_METRIC = pd.merge(DEST_AIRPORT_ARR_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
DEST_AIRPORT_ARR_DELAY_METRIC['PERCENTAGE_DELAYED'] = (DEST_AIRPORT_ARR_DELAY_METRIC.TOTAL_DELAY_COUNT/DEST_AIRPORT_ARR_DELAY_METRIC.TOTAL_FLIGHTS)*100
DEST_AIRPORT_ARR_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

27413

In [104]:
#Day Of The Week vs Arrival Delay
DAY_OF_WEEK_ARR_DELAY_METRIC = data.loc[data['ARRIVAL_DELAY']>0,['DAY_OF_WEEK','ARRIVAL_DELAY']].groupby(['DAY_OF_WEEK']).agg(['count','mean'])
DAY_OF_WEEK_ARR_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['DAY_OF_WEEK','ARRIVAL_DELAY']].groupby(['DAY_OF_WEEK']).count().rename(columns={"ARRIVAL_DELAY":"TOTAL_FLIGHTS"})



DAY_OF_WEEK_ARR_DELAY_METRIC = pd.merge(DAY_OF_WEEK_ARR_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
DAY_OF_WEEK_ARR_DELAY_METRIC['PERCENTAGE_DELAYED'] = (DAY_OF_WEEK_ARR_DELAY_METRIC.TOTAL_DELAY_COUNT/DAY_OF_WEEK_ARR_DELAY_METRIC.TOTAL_FLIGHTS)*100
DAY_OF_WEEK_ARR_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
DAY_OF_WEEK,,,,
1,297746,36.757303,775714,38.383476
2,280846,34.471689,763813,36.768947
3,287420,32.302832,778658,36.912226
4,309277,33.351119,775433,39.884426
5,296082,31.237350,770324,38.436035
6,207521,32.363587,627502,33.070970
7,266754,34.134690,739686,36.063140

In [105]:
#Day Of The Week vs Departure Delay
DAY_OF_WEEK_DEPT_DELAY_METRIC = data.loc[data['DEPARTURE_DELAY']>0,['DAY_OF_WEEK','DEPARTURE_DELAY']].groupby(['DAY_OF_WEEK']).agg(['count','mean'])
DAY_OF_WEEK_DEPT_DELAY_METRIC.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


PERCENTAGE_FLIGHTS_DELAYED = data.loc[:,['DAY_OF_WEEK','DEPARTURE_DELAY']].groupby(['DAY_OF_WEEK']).count().rename(columns={"DEPARTURE_DELAY":"TOTAL_FLIGHTS"})



DAY_OF_WEEK_DEPT_DELAY_METRIC = pd.merge(DAY_OF_WEEK_DEPT_DELAY_METRIC,PERCENTAGE_FLIGHTS_DELAYED, how = 'inner', left_index = True, right_index = True )
DAY_OF_WEEK_DEPT_DELAY_METRIC['PERCENTAGE_DELAYED'] = (DAY_OF_WEEK_DEPT_DELAY_METRIC.TOTAL_DELAY_COUNT/DAY_OF_WEEK_DEPT_DELAY_METRIC.TOTAL_FLIGHTS)*100
DAY_OF_WEEK_DEPT_DELAY_METRIC
#AIRPORT_ARR_DELAY_METRIC.to_csv(path_or_buf='C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis',mode = 'w',sep=',')

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYED
DAY_OF_WEEK,,,,
1,305229,35.946725,779131,39.175569
2,281252,34.420786,766349,36.700250
3,285819,32.469643,780921,36.600245
4,307950,32.990989,778126,39.575853
5,299475,31.064727,772459,38.769048
6,219884,31.518110,629889,34.908373
7,280907,32.917051,742225,37.846610

In [136]:
# Month Vs Arrival Delay

#data.index = data['FLIGHT_DATE']
MONTHWISE_ARR_DELAY_METRICS = data.loc[data['ARRIVAL_DELAY']>0,['FLIGHT_DATE','ARRIVAL_DELAY']].groupby(pd.TimeGrouper(freq='M')).agg(['count','mean'])
MONTHWISE_ARR_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


MONTHLY_TOTAL_FLIGHTS = data.loc[:,['ARRIVAL_DELAY']].groupby(pd.TimeGrouper(freq='M')).agg(['count'])
MONTHLY_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']


MONTHWISE_ARR_DELAY_METRICS = pd.merge(MONTHWISE_ARR_DELAY_METRICS,MONTHLY_TOTAL_FLIGHTS,how = 'inner',left_index = True, right_index=True)
MONTHWISE_ARR_DELAY_METRICS['PERCENTAGE_DELAYS'] = (MONTHWISE_ARR_DELAY_METRICS.TOTAL_DELAY_COUNT/MONTHWISE_ARR_DELAY_METRICS.TOTAL_FLIGHTS)*100
MONTHWISE_ARR_DELAY_METRICS

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYS
FLIGHT_DATE,,,,
2015-01-31,183110,32.755759,457013,40.066694
2015-02-28,175443,35.084894,407663,43.036282
2015-03-31,190133,31.764549,492138,38.634082
2015-04-30,171820,30.157083,479251,35.851777
2015-05-31,175178,34.111806,489641,35.776824
2015-06-30,206989,38.423327,492847,41.998632
2015-07-31,199717,34.889674,514384,38.826441
2015-08-31,180891,34.050207,503956,35.894205
2015-09-30,133432,28.015738,462153,28.871824
2015-10-31,0,NaN,0,NaN
2015-11-30,149439,30.351220,462367,32.320429
2015-12-31,179494,36.718654,469717,38.213222

In [141]:
# Month Vs Departure Delay

#data.index = data['FLIGHT_DATE']
MONTHWISE_DEPT_DELAY_METRICS = data.loc[data['DEPARTURE_DELAY']>0,['FLIGHT_DATE','DEPARTURE_DELAY']].groupby(pd.TimeGrouper(freq='M')).agg(['count','mean'])
MONTHWISE_DEPT_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']


MONTHLY_TOTAL_FLIGHTS = data.loc[:,['DEPARTURE_DELAY']].groupby(pd.TimeGrouper(freq='M')).agg(['count'])
MONTHLY_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']


MONTHWISE_DEPT_DELAY_METRICS = pd.merge(MONTHWISE_DEPT_DELAY_METRICS,MONTHLY_TOTAL_FLIGHTS,how = 'inner',left_index = True, right_index=True)
MONTHWISE_DEPT_DELAY_METRICS['PERCENTAGE_DELAYS'] = (MONTHWISE_DEPT_DELAY_METRICS.TOTAL_DELAY_COUNT/MONTHWISE_DEPT_DELAY_METRICS.TOTAL_FLIGHTS)*100
MONTHWISE_DEPT_DELAY_METRICS

,TOTAL_DELAY_COUNT,MEAN_DELAY_COUNT,TOTAL_FLIGHTS,PERCENTAGE_DELAYS
FLIGHT_DATE,,,,
2015-01-31,176627,32.623200,458311,38.538678
2015-02-28,173442,33.960667,409132,42.392675
2015-03-31,193817,31.354685,493673,39.260199
2015-04-30,167314,30.690080,480898,34.791993
2015-05-31,178856,33.704052,491657,36.378207
2015-06-30,215381,37.546367,495199,43.493828
2015-07-31,209619,34.204261,516211,40.607232
2015-08-31,190840,33.326425,505817,37.729060
2015-09-30,132591,28.099939,463018,28.636252
2015-10-31,0,NaN,0,NaN
2015-11-30,152690,29.983660,463633,32.933376
2015-12-31,189339,35.702407,471551,40.152391

In [158]:
# State Vs Arrival Delay(Origin Airport)
STATE_ARR_DELAY_METRICS = pd.merge(data.loc[data['ARRIVAL_DELAY']>0,['ORIGIN_AIRPORT','ARRIVAL_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']],how='outer',left_on =['ORIGIN_AIRPORT'],right_on=['IATA_CODE'])
STATE_ARR_DELAY_METRICS = STATE_ARR_DELAY_METRICS.loc[:,['STATE','ARRIVAL_DELAY']].groupby(['STATE']).agg(['count','mean'])
STATE_ARR_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']

STATE_TOTAL_FLIGHTS = pd.merge(data.loc[:,['ORIGIN_AIRPORT','ARRIVAL_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']], how='outer',left_on =['ORIGIN_AIRPORT'],right_on=['IATA_CODE'])
STATE_TOTAL_FLIGHTS = STATE_TOTAL_FLIGHTS.loc[:,['STATE','ARRIVAL_DELAY']].groupby(['STATE']).agg(['count'])
STATE_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']
STATE_TOTAL_FLIGHTS

STATE_ARR_DELAY_METRICS = pd.merge(STATE_ARR_DELAY_METRICS,STATE_TOTAL_FLIGHTS, how = 'inner', left_index=True, right_index=True)
STATE_ARR_DELAY_METRICS['PERCENTAGE_DELAYS'] = (STATE_ARR_DELAY_METRICS.TOTAL_DELAY_COUNT/STATE_ARR_DELAY_METRICS.TOTAL_FLIGHTS)*100
STATE_ARR_DELAY_METRICS

       TOTAL_DELAY_COUNT  MEAN_DELAY_COUNT  TOTAL_FLIGHTS  PERCENTAGE_DELAYS
STATE
AK                 11533         25.894390          32754          35.210967
AL                  9455         34.768800          25960          36.421418
AR                  8366         40.304208          21923          38.160836
AS                    67         38.358209            106          63.207547
AZ                 64448         27.121990         163938          39.312423
CA                248922         30.373153         638357          38.994168
CO                 87695         33.588620         212126          41.340995
CT                  5691         34.367071          18375          30.971429
DE                    53         57.207547             95          55.789474
FL                148633         36.680226         409611          36.286379
GA                119817         31.254630         356943          33.567544
GU                   136         31.867647            331          41.087613
HI                 32306         19.295827          90670          35.630308
IA                  6044         42.671410          16728          36.131038
ID                  5465         32.990485          16661          32.801152
IL                150245         38.031682         369479          40.664016
IN                 12881         38.252387          38177          33.740210
KS                  3766         39.406798          10633          35.418038
KY                 12250         38.414612          35829          34.190181
LA                 22957         35.926820          63944          35.901727
MA                 39180         35.642956         106208          36.889876
MD                 34979         34.148375          84329          41.479206
ME                  1584         41.312500           4892          32.379395
MI                 44669         35.927444         134584          33.190424
MN                 39831         30.407773         117449          33.913443
MO                 33440         33.166866          92192          36.272128
MS                  4261         37.327388          12782          33.335941
MT                  3853         30.828186          14675          26.255537
NC                 57276         31.255238         144394          39.666468
ND                  5406         37.096744          16088          33.602685
NE                  6636         35.085142          19613          33.834701
NH                  1771         35.457369           6115          28.961570
NJ                 38566         39.938677         104639          36.856239
NM                  8009         33.068298          21815          36.713271
NV                 57789         31.624617         145305          39.770827
NY                 85965         41.491130         237916          36.132501
OH                 23478         38.014482          72555          32.358900
OK                 10531         36.305859          30734          34.264983
OR                 17659         29.248825          55148          32.021107
PA                 34263         37.229285          98018          34.955824
PR                  8642         36.879773          26468          32.650748
RI                  3297         33.889900          10757          30.649809
SC                  9454         37.206685          27679          34.155858
SD                  3472         37.116359           9017          38.505046
TN                 26390         34.892118          73537          35.886696
TX                245912         32.822266         616518          39.887238
UT                 31843         25.892410          99252          32.082981
VA                 46518         38.799561         134752          34.521194
VI                  1719         43.152414           5103          33.686067
VT                  1044         43.052682           2884          36.199723
WA                 47655         24.809443         122716          38.833567
WI                 16584         35.660034          49994          33.171981
WV                  1033         37.002904           2315          44.622030
WY                  2207         39.217490           8047          27.426370

In [161]:
# State Vs Departure Delay(Origin Airport)
STATE_DEPT_DELAY_METRICS = pd.merge(data.loc[data['DEPARTURE_DELAY']>0,['ORIGIN_AIRPORT','DEPARTURE_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']],how='outer',left_on =['ORIGIN_AIRPORT'],right_on=['IATA_CODE'])
STATE_DEPT_DELAY_METRICS = STATE_DEPT_DELAY_METRICS.loc[:,['STATE','DEPARTURE_DELAY']].groupby(['STATE']).agg(['count','mean'])
STATE_DEPT_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']

STATE_TOTAL_FLIGHTS = pd.merge(data.loc[:,['ORIGIN_AIRPORT','DEPARTURE_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']], how='outer',left_on =['ORIGIN_AIRPORT'],right_on=['IATA_CODE'])
STATE_TOTAL_FLIGHTS = STATE_TOTAL_FLIGHTS.loc[:,['STATE','DEPARTURE_DELAY']].groupby(['STATE']).agg(['count'])
STATE_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']
STATE_TOTAL_FLIGHTS

STATE_DEPT_DELAY_METRICS = pd.merge(STATE_DEPT_DELAY_METRICS,STATE_TOTAL_FLIGHTS, how = 'inner', left_index=True, right_index=True)
STATE_DEPT_DELAY_METRICS['PERCENTAGE_DELAYS'] = (STATE_DEPT_DELAY_METRICS.TOTAL_DELAY_COUNT/STATE_DEPT_DELAY_METRICS.TOTAL_FLIGHTS)*100
STATE_DEPT_DELAY_METRICS

       TOTAL_DELAY_COUNT  MEAN_DELAY_COUNT  TOTAL_FLIGHTS  PERCENTAGE_DELAYS
STATE
AK                 11142         26.160115          32987          33.776942
AL                  9373         31.830791          26106          35.903624
AR                  8616         33.780525          22077          39.027042
AS                    45         28.244444            107          42.056075
AZ                 60968         28.084553         164135          37.145033
CA                270150         30.755699         640267          42.193335
CO                 85350         33.965366         212823          40.103748
CT                  8039         32.968902          18450          43.571816
DE                    40         59.625000             95          42.105263
FL                163647         32.453195         411236          39.793938
GA                115155         34.147202         357767          32.187150
GU                   241         32.535270            332          72.590361
HI                 27647         23.592108          90937          30.402366
IA                  6334         37.027787          16879          37.525920
ID                  5706         31.234665          16812          33.940043
IL                136729         38.181483         370419          36.911983
IN                 13893         34.789174          38376          36.202314
KS                  4015         32.360149          10722          37.446372
KY                 12848         33.385118          36070          35.619629
LA                 24334         31.978549          64248          37.875109
MA                 42371         35.100564         106679          39.718220
MD                 34870         29.552767          84637          41.199475
ME                  1883         36.291556           4934          38.163762
MI                 43645         36.406095         134872          32.360312
MN                 37704         34.021854         117744          32.022014
MO                 37670         30.429121          92595          40.682542
MS                  4126         34.410810          12859          32.086476
MT                  4160         30.387740          14765          28.174738
NC                 46968         29.943195         144663          32.467182
ND                  4910         34.531568          16262          30.193088
NE                  7586         31.807145          19724          38.460758
NH                  2695         32.376252           6143          43.871073
NJ                 46704         38.284494         104876          44.532591
NM                  9383         28.134925          21917          42.811516
NV                 60182         28.743894         145799          41.277375
NY                 97375         40.077330         238971          40.747622
OH                 28031         34.607684          72936          38.432324
OK                 12746         32.034050          30916          41.227843
OR                 20305         30.098498          55302          36.716574
PA                 37691         33.645645          98367          38.316712
PR                 12143         30.591946          26572          45.698480
RI                  4450         31.841798          10825          41.108545
SC                  9946         33.075809          27834          35.733276
SD                  3077         34.821254           9099          33.816903
TN                 28861         30.762586          73952          39.026666
TX                229420         34.875072         618279          37.106226
UT                 28835         30.116802          99475          28.987183
VA                 51976         32.660574         135406          38.385301
VI                  2057         34.299951           5263          39.084173
VT                  1085         42.209217           2912          37.259615
WA                 42479         28.420937         122988          34.539142
WI                 17495         33.184224          50246          34.818692
WV                   778         38.394602           2333          33.347621
WY                  2637         33.940463           8110          32.515413

In [162]:
# State Vs Departure Delay(Destination Airport)

STATE_DEPT_DELAY_METRICS = pd.merge(data.loc[data['DEPARTURE_DELAY']>0,['DESTINATION_AIRPORT','DEPARTURE_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']],how='outer',left_on =['DESTINATION_AIRPORT'],right_on=['IATA_CODE'])
STATE_DEPT_DELAY_METRICS = STATE_DEPT_DELAY_METRICS.loc[:,['STATE','DEPARTURE_DELAY']].groupby(['STATE']).agg(['count','mean'])
STATE_DEPT_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']

STATE_TOTAL_FLIGHTS = pd.merge(data.loc[:,['DESTINATION_AIRPORT','DEPARTURE_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']], how='outer',left_on =['DESTINATION_AIRPORT'],right_on=['IATA_CODE'])
STATE_TOTAL_FLIGHTS = STATE_TOTAL_FLIGHTS.loc[:,['STATE','DEPARTURE_DELAY']].groupby(['STATE']).agg(['count'])
STATE_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']
STATE_TOTAL_FLIGHTS

STATE_DEPT_DELAY_METRICS = pd.merge(STATE_DEPT_DELAY_METRICS,STATE_TOTAL_FLIGHTS, how = 'inner', left_index=True, right_index=True)
STATE_DEPT_DELAY_METRICS['PERCENTAGE_DELAYS'] = (STATE_DEPT_DELAY_METRICS.TOTAL_DELAY_COUNT/STATE_DEPT_DELAY_METRICS.TOTAL_FLIGHTS)*100
STATE_DEPT_DELAY_METRICS

       TOTAL_DELAY_COUNT  MEAN_DELAY_COUNT  TOTAL_FLIGHTS  PERCENTAGE_DELAYS
STATE
AK                 11142         26.160115          32987          33.776942
AL                  9373         31.830791          26106          35.903624
AR                  8616         33.780525          22077          39.027042
AS                    45         28.244444            107          42.056075
AZ                 60968         28.084553         164135          37.145033
CA                270150         30.755699         640267          42.193335
CO                 85350         33.965366         212823          40.103748
CT                  8039         32.968902          18450          43.571816
DE                    40         59.625000             95          42.105263
FL                163647         32.453195         411236          39.793938
GA                115155         34.147202         357767          32.187150
GU                   241         32.535270            332          72.590361
HI                 27647         23.592108          90937          30.402366
IA                  6334         37.027787          16879          37.525920
ID                  5706         31.234665          16812          33.940043
IL                136729         38.181483         370419          36.911983
IN                 13893         34.789174          38376          36.202314
KS                  4015         32.360149          10722          37.446372
KY                 12848         33.385118          36070          35.619629
LA                 24334         31.978549          64248          37.875109
MA                 42371         35.100564         106679          39.718220
MD                 34870         29.552767          84637          41.199475
ME                  1883         36.291556           4934          38.163762
MI                 43645         36.406095         134872          32.360312
MN                 37704         34.021854         117744          32.022014
MO                 37670         30.429121          92595          40.682542
MS                  4126         34.410810          12859          32.086476
MT                  4160         30.387740          14765          28.174738
NC                 46968         29.943195         144663          32.467182
ND                  4910         34.531568          16262          30.193088
NE                  7586         31.807145          19724          38.460758
NH                  2695         32.376252           6143          43.871073
NJ                 46704         38.284494         104876          44.532591
NM                  9383         28.134925          21917          42.811516
NV                 60182         28.743894         145799          41.277375
NY                 97375         40.077330         238971          40.747622
OH                 28031         34.607684          72936          38.432324
OK                 12746         32.034050          30916          41.227843
OR                 20305         30.098498          55302          36.716574
PA                 37691         33.645645          98367          38.316712
PR                 12143         30.591946          26572          45.698480
RI                  4450         31.841798          10825          41.108545
SC                  9946         33.075809          27834          35.733276
SD                  3077         34.821254           9099          33.816903
TN                 28861         30.762586          73952          39.026666
TX                229420         34.875072         618279          37.106226
UT                 28835         30.116802          99475          28.987183
VA                 51976         32.660574         135406          38.385301
VI                  2057         34.299951           5263          39.084173
VT                  1085         42.209217           2912          37.259615
WA                 42479         28.420937         122988          34.539142
WI                 17495         33.184224          50246          34.818692
WV                   778         38.394602           2333          33.347621
WY                  2637         33.940463           8110          32.515413

In [200]:
# State Vs Arrival Delay(Destination Airport)

STATE_ARR_DELAY_METRICS = pd.merge(data.loc[data['ARRIVAL_DELAY']>0,['DESTINATION_AIRPORT','ARRIVAL_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']],how='outer',left_on =['DESTINATION_AIRPORT'],right_on=['IATA_CODE'])
STATE_ARR_DELAY_METRICS = STATE_ARR_DELAY_METRICS.loc[:,['STATE','ARRIVAL_DELAY']].groupby(['STATE']).agg(['count','mean'])
STATE_ARR_DELAY_METRICS.columns = ['TOTAL_DELAY_COUNT','MEAN_DELAY_COUNT']

STATE_TOTAL_FLIGHTS = pd.merge(data.loc[:,['DESTINATION_AIRPORT','ARRIVAL_DELAY']],airport_data.loc[:,['IATA_CODE','STATE']], how='outer',left_on =['DESTINATION_AIRPORT'],right_on=['IATA_CODE'])
STATE_TOTAL_FLIGHTS = STATE_TOTAL_FLIGHTS.loc[:,['STATE','ARRIVAL_DELAY']].groupby(['STATE']).agg(['count'])
STATE_TOTAL_FLIGHTS.columns = ['TOTAL_FLIGHTS']
STATE_TOTAL_FLIGHTS

STATE_ARR_DELAY_METRICS = pd.merge(STATE_ARR_DELAY_METRICS,STATE_TOTAL_FLIGHTS, how = 'inner', left_index=True, right_index=True)
STATE_ARR_DELAY_METRICS['PERCENTAGE_DELAYS'] = (STATE_ARR_DELAY_METRICS.TOTAL_DELAY_COUNT/STATE_ARR_DELAY_METRICS.TOTAL_FLIGHTS)*100
STATE_ARR_DELAY_METRICS.to_csv ('C:\\Users\\rashm\\PycharmProjects\\DataProgrammingProject\\ExploratoryAnalysis\\STATE_ARR_DELAY_METRICS_BY_DESTINATION.csv')

In [175]:
print "max:%s" %(data.DISTANCE.max())
print "min:%s" %(data.DISTANCE.min())

max:4983
min:21

In [193]:
data['DISTANCE_BINS']= pd.qcut(data.DISTANCE,11)
data.head()
test = data.loc[:,['DISTANCE','ARRIVAL_DELAY']].groupby(['DISTANCE_BINS']).mean()
test

KeyError: 'DISTANCE_BINS'

In [196]:
data.ARRIVAL_TIME.unique()

array([datetime.time(4, 8), datetime.time(7, 41), datetime.time(8, 11),
       ..., datetime.time(3, 28), datetime.time(3, 17),
       datetime.time(3, 57)], dtype=object)